Мы пишем интернет-магазин учебных карточек Mat-Focus. Нужно сделать MVP интернет-магазин. Фронт пишем на next.js, backend на strapiCMS.

Писать код в соответствии с этой моделью. Код должен иметь хороший SEO потенциал. Поясняй, как некоторые фрагменты кода позволяют улучшить SEO.
При написании кода для кнопок, делай свойство cursor-pointer при наведении.

Когда пишешь код будь на 100% уверен, что ты не ломаешь ничего существующего.
