@import 'tailwindcss';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--primary-color: #4caf50; /* Заменил зеленый цвет логотипа как основной цвет */
	--secondary-color: #2e7d32;
}

@layer base {
	body {
		@apply bg-white text-gray-900;
	}
}

@layer components {
	.text-primary {
		color: var(--primary-color);
	}

	.hover-text-primary:hover {
		color: var(--primary-color);
	}
}
